﻿
@{
    ViewBag.Title = "Приглашение";
    Layout = "~/Views/Shared/_LayoutWedding.cshtml";
}
<div class="set-wedding-font">
    <h1>@ViewBag.Greeting</h1>
    <hr />
    <img src="~/Img/loveCat.png" width="75" />
    <h1>Константин и Анна</h1>
    <h2>Приглашают вас на наше бракосочетание 29.09.2018 в 12:30, которое состоится в городе Новополоцк по адресу ул. Молодежная, д.155.</h2>
    <hr />
   
    @*<h2>Вы сможете?</h2>
        <button class="btn" value="Да">Да</button>
        <button class="btn" value="Нет">Нет</button>
        <p>
            Наше меню
        </p>*@

</div>

@section scripts{
    <script>

        $(document).ready(() => {
            Invitation.prototype.loadEat('@Url.Action("GetMenuList", "Menu")');
            //Invitation.prototype.loadInvitations('@Url.Action("GetInvitationList", "Invitation")');
        });



    </script>

}