﻿
@{
    ViewBag.Title = "Меню";
    Layout = "~/Views/Shared/_LayoutWedding.cshtml";
}
<div class="set-wedding-font">
    <h1>Меню</h1>
    <img src="~/Img/loveCat.png" width="75" />
    <hr/>
    <div class="list-group eat-menu" id="eat-menu">

    </div>

</div>

@section scripts{
    <script>

        $(document).ready(() => {
            Invitation.prototype.loadEat('@Url.Action("GetMenuList", "Menu")');
            //Invitation.prototype.loadInvitations('@Url.Action("GetInvitationList", "Invitation")');
        });



    </script>

}