﻿
@{
    ViewBag.Title = "Меню";
}
<div class="card card-default">
    <div class="card-heading">Меню</div>
    <div class="input-group mb-3">
        <input id="inputText" type="text" class="form-control" placeholder="Наименование" aria-label="s username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input id="inputText2" type="text" class="form-control" placeholder="Описание" aria-label="Описание" aria-describedby="basic-addon2">
        </div>    
        <div class="input-group-append">
            <input id="inputText3" type="text" class="form-control" placeholder="Вес" aria-label="Вес" aria-describedby="basic-addon2">
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Добавить</button>
        </div>
    </div>
    <div class="card-body">
        <div id="listId" class="list-group">

            @*<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>*@
        </div>


    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section scripts{
    <script>

        $(document).ready(() => {
            Menu.prototype.initMenu('@Url.Action("SaveNewMenu","Menu")');
            Menu.loadMenu('@Url.Action("GetMenuList", "Menu")');
        });



    </script>

}