﻿
@{
    ViewBag.Title = "Statistic";
}
<div class="card card-default">
    <div class="card-heading">Статистика</div>
    <div class="input-group mb-3">
        <input id="inviteText" type="text" class="form-control" placeholder="Приглашение" aria-label="Приглашение" aria-describedby="basic-addon2">
        @*<div class="input-group-append">
            <span class="input-group-text" id="urlD"></span>
        </div>*@
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Добавить</button>
        </div>
    </div>
    <div class="card-body">
        <div id="listId" class="list-group">
           
        </div>


    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section scripts{
    <script>
        
        $(document).ready(() => {
            Invitation.prototype.initStatistics('@Url.Action("SaveInvitation","Invitation")');
            Invitation.loadInvitations('@Url.Action("GetInvitationList", "Invitation")');
        });


       
    </script>

}