﻿@font-face {
    font-family: "PFChampionScriptPro-Bold";
    src: url("/Fonts/12161.otf") format('opentype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

.set-wedding-font {
    font-family: "PFChampionScriptPro-Bold";
    text-align: center;
    padding: 40px;
}

.set-background {
    background-size: 100%;
    background-image: url(../Img/velvet.jpg);
}

.set-scroll-background {
    background-size: 100%;
    background-image: url(../Img/scroll.jpg);
}

.set-wedding-font h1,
.h1 {
    font-size: 7.5rem;
}

.set-wedding-font h2,
.h2 {
    font-size: 3rem;
}

body>.container {
    padding: 60px 15px 0;
}

.paws {
    background-image: url(/Img/pawsCat.png);
    /* Путь к фоновому рисунку */
    background-position: left bottom;
    /* Положение фона */
    background-repeat: repeat-x;
    /* Повторяем фон по горизонтали */
}

.eat-menu>div>div>small {
    font-size: x-large;
}